/*pginicial*/
body {
    background-image: url("fundo.jpg");
    background-position: unset;
    background-repeat: no-repeat;
    background-size: 100%;
}

/*rodapepginicial*/
footer {
    background-color: aqua;
}

/*todasaspg*/
.imagens {
    display: flex;
    justify-content: center;
}

/*nomespginicial*/
.nomes {
    color: rgb(23, 23, 44);
    font-size: 180%;
    font-family: sans-serif;
}

/*descricaopginicial*/
.descricao {
    font-weight: bolder;
    font-size: 92%;
    color: rgb(47, 37, 58);
    /*background-color: rgb(196, 174, 224)*/
}

/*imgpginicial*/
.centro {
    max-width: 180px;
    border: 5px solid rgb(196, 174, 224)
    
}
/*todasaspg*/
.historia {
    text-align: center;
    font-size: x-large;
    color: rgb(47, 37, 58);
    font-weight: bolder;
    background-color: rgb(158, 81, 230);
}

/*todasaspg*/
.botaoclique {
    text-align: center;
    background-color: rgb(42, 26, 49);
    margin: 50px;
}

/*imgelfa*/
.elfaimagens {
    justify-content: flex-start;
    max-width:300px;
    max-height:250px;
    width: auto;
    height: auto;
}