/*pginicial*/
body {
    background-image: url("fundo.jpg");
    background-position: unset;
    background-repeat: no-repeat;
    background-size: 100%;
}

/*rodapepginicial*/
footer {
    background-color: aqua;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-radius: 6px;
}

/*todasaspg*/
.imagens {
    display: flex;
    justify-content: center;
    border-radius: 6px;
}

/*nomespginicial*/
.nomes {
    color: rgb(23, 23, 44);
    font-size: 180%;
    font-family: cursive;
    justify-content: center;
    text-align: center;
}

/*descricaopginicial*/
.descricao {
    font-weight: bolder;
    font-size: 92%;
    color: rgb(47, 37, 58);
    text-align: center;
    /*background-color: rgb(196, 174, 224)*/
}

/*imgpginicial*/
.centro {
    max-width: 180px;
    border: 10px solid rgb(196, 174, 224);
    border-radius: 6px;
}

/*todasaspg*/
.historia {
    text-align: center;
    font-size: x-large;
    color: rgb(47, 37, 58);
    font-weight: bolder;
    background-color: rgb(158, 81, 230);
    border-radius: 6px;
}

/*todasaspg*/
.botaoclique {
    text-align: center;
    margin: 50px;
}

.botao {
    font-size: x-large;
    background-color: rgb(42, 26, 49);
    color: white;
    border-radius: 7px;
    border-color: rgb(196, 174, 224);
}

/*imgelfa*/
.elfaimagens {
    display: flex;
    justify-content: space-around;
    object-fit: cover;
    width: 100%;
}

/*pginicial*/
.figura {
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    align-content: center;

}

.fotos {
    display: flex;
    justify-items: center;
    width: 100%;
    justify-content: center;
}

/*todasasimgtodasaspg*/
.elfaimagens>img {
    width: 250px;
    object-fit: cover;
    border: 10px solid rgb(196, 174, 224);
    border-radius: 6px;
}